@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
}
a{
    text-decoration: none;
}
.inicio{
    color: #FAF9F9;
    text-decoration: none;
    font-family: 'Comic Neue', cursive;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}
.header{
    width: 100%;
    height: 40vh;
    padding: 0px 25px 0px 25px;
    background-color: #3A0CA3;
    display: flex;
    align-items: center;
}
.header .title{
    font-family: 'Permanent Marker', cursive;
    color: #FAF9F9;
    letter-spacing: 3px;
    font-size: 2.5rem;
}
.main{
    width: 100%;
    padding: 0px 20px 0px 20px;
    display:flex;
    justify-content:center;
    align-items: center;
}
.card{
    border-radius: 10px;
    /*margin: 0px 15px 0px 15px;*/
    padding: 40px 30px 10px 30px;
    transform: translateY(-80px);
    box-shadow: -8px 8px 30px rgba(0, 0, 0, 0.5);
    background-color: #FFFFFF;
    font-family: 'Comic Neue', cursive;
    color: #565c69;
}
.card > div{
    /*flex-direction: column;*/
    margin-bottom: 40px;
}
.card .header-card{
    text-align: center;
    font-size: 18px;
}
.header-card >div{
    margin-bottom: 30px;
}
.card .card-title{
    color: black;
    font-weight: bold;
    font-size: 23px;
    outline: none;
}
.input-name{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    margin-top: 20px;
    padding: 2px 40px 2px 40px;
    font-family: 'Comic Neue', cursive;
    font-size: 18px;
    text-align: center;
    outline: none;
    border: 1px solid #a0a0a0;
    color: #3A0CA3;
    font-weight: bold;
}
.input-name:focus{
    border: 1px solid #3A0CA3;
}
.iniciar{
    width: 100%;
    height: 32px;
    background-color: #7209B7;
    color: #FAF9F9;
    border-radius: 8px;
    border: none;
    font-family: 'Comic Neue', cursive;
    box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.5);
    outline: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
@media(min-width:768px){
    .header{
        padding: 0px 50px 0px 50px;
    }
    .card{
        width: 450px;
    }
}
/*@media(max-width:360px){
    .card{
        
        transform: translateY(-60px);
    }
}

@media(min-width:1024px){
    .card{
        transform: translateY(-120px);
    }
    .header{
        width: 100%;
        height: 40vh;
        padding: 110px 120px 40px 120px;
        background-color: #3A0CA3;
    }
}

@media(min-width:1024px){
    .main{
        width: 100%;
        padding: 0px 250px 0px 250px;
    }
    .header{
        width: 100%;
        height: 40vh;
        padding: 290px 120px 40px 150px;
        background-color: #3A0CA3;
    }
}
*/
